.about__container{
    padding: 110px 70px;
}


.about__description{
    display: flex;
    gap: 40px;
}


.about__description-container{
    padding-top: 70px;
}


.about__description-title{
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    padding-bottom: 26px;
}


.about__description-paragraph{
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding-bottom: 110px;
}


.about__timing{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 36px;
}


.about__timing_theme-white{
    height: 17px;
}


.about__timing-week{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #000000;
}


.about__timing-week_theme-white{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
    background: #FFFFFF;
    padding-top: 14px;
}


.about__timing-weeks{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background: #F2F2F2;
}