.navigation__container{
    display: flex;
    position: relative;
}


.navigation__cover {
    background-color: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    transition: opacity;
}


.navigation__hamburger{
    background-image: url(../../images/hamburger.svg);
    width: 44px;
    height: 44px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    display: none;
}


.navigation__hamburger:hover{
    opacity: 0.8;
}


.navigation__box{
    display: flex;
    margin-left: 50px;
}


.navigation__slide{
    position: fixed;
    right: 0;
    z-index: 100;
    width: 67vw;
    overflow: auto;
    background: #FFFFFF;
    top: 0;
    height: 100%;
    transform: translateX(0);
    transition: transform 200ms linear;
}


.navigation__slide_slide-in{
    transform: translateX(67vw);
}


.navigation__slide_slide-out{
    transform: translateX(0);
}


.navigation__slide-close{
    background-image: url(../../images/close_hamburger.svg);
    width: 22px;
    height: 22px;
    border: none;
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FFFFFF;
}


@media screen and (max-width: 1024px) {
        .navigation__hamburger{
            display: block;
        }
}


@media screen and (max-width: 767px) {
    .navigation__slide{
        width: 100vw;
    }
    .navigation__slide_slide-in{
        transform: translateX(100vw);
    }
}
