.navigation__container{
    display: flex;
}


.navigation__box{
    display: flex;
    margin-left: 50px;
}


.navigation__list{
    list-style-type: none;
    display: flex;
}

.navigation__link{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
}


.navigation__link_active{
    font-weight: 400;
}


.navigation__link_type_account{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}


.navigation__link:hover{
    opacity: 0.8;
}


.navigation__link_type_account::after{
    content: url(../../images/icon-main.svg);
    width: 10px;
    height: 10.67px;
    margin-left: 20px;
    display: inline-block;
    transform: translateY(1px);
}