.portfolio__title{
    margin: 0;
    padding-top: 101px;
    padding-bottom: 50px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    mix-blend-mode: normal;
}


.portfolio__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.portfolio__line{
    border-bottom: 1px solid  #E8E8E8;
    margin-top: 19px;
    margin-bottom: 20px;
}


.portfolio__subtitle{
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
}


.portfolio__link{
    width: 29px;
    height: 60px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #000000;
    text-decoration: none;
}


.portfolio__link:hover{
    opacity: 0.8;
}


@media screen and (max-width: 1079px) { 
    .portfolio__title{
        padding-top: 91px;
    }
    
} 