.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}   

.popup__container {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
    max-width: 358px;
    position: relative;
    padding: 34px 36px 37px;
}


@media screen and (max-width: 768px) {
    .popup__container {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 22px;
        padding-right: 22px;
        max-width: 238px;
    }
}

.popup_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility 5s, opacity 0.5s linear;
}


.popup__container_type_tooltip {
    display: flex;
    flex-direction: column;
    padding: 60px 36px;
}


.popup__tooltip-image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.popup__tooltip-message {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin: 0;
}

.popup__close {
    background-image: url(../../images/Close_Icon.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    border: none;
    background-size: contain;
    cursor: pointer;
}


.popup__close:hover {
    opacity: 0.6;
}


@media screen and (max-width: 768px) {
    .popup__close {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
    
}