.techs__container{
    padding: 100px 70px;
    background: #F5F5F5;
}


.techs__title{
    margin: 0;
    padding-bottom: 26px;
    padding-top: 90px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    }


.techs__paragraph{
    margin: 0;
    padding-bottom: 100px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
}


.techs__container-grid{
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    padding-left: 225px;
    padding-right: 225px;
    gap:10px;
    margin: 0;
}


.techs__container-grid__info{
    height: 60px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    background: #E8E8E8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}