.filter-check-box__container{
    display: flex;
    align-items: center;
}


.filter-check-box__mobile{
  display: none;
}  


.filter-check-box__shorts{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */
    color: #000000;
    padding: 27px 0 27px 15px;
}


.filter-check-box__toggle-button{
    position: relative;
    width: 36px;
    height: 20px;
    background-color: #2BE080;
    border-radius: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    outline: none;
    display: inline-block;
    transform: translateY(2px);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}


.filter-check-box__toggle-button::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 5.56%;
    top: 10%;
    bottom: 10%;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }


  .filter-check-box__toggle-button:checked::after {
    transform: translateX(calc(100% - 5.56%));
    background-color: #FFFFFF;  
  }

  
  .filter-check-box__toggle-button:checked {
    background-color: #2BE080;
  }


  @media screen and (max-width: 767px) {
    .filter-check-box__normal{
        display: none;
    }  
    .filter-check-box__mobile{
      display: flex;
  }  
} 