.search-form__container{
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 109px;
    margin-bottom: 10px;
}


.search-form__bar{
    margin: 70px 0 80px;
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 9px;
}


.search-form__icon{
    background-image: url(../../../images/search.svg);
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none ;
    margin-left: 19px;
    margin-right: 10px;
    display: inline-block;
    transform: translateY(8px);
}


.search-form__input{
    height: 72px;
    width: 100%;
    background-color: #F9F9F9;
    border: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* or 111% */
    color: #A0A0A0;
    outline: none;
    cursor: pointer;
}


.search-form__button{
    background-image: url(../../../images/find.svg);
    max-width: 32px;
    width: 100%;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: #F9F9F9;
    display: inline-block;
    transform: translateY(1px);
    cursor: pointer;
}


.search-form__stroke{
    background-image: url(../../../images/stroke.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none; 
    margin-left: 30px;
    margin-right: 30px;
    color: #CBCBCB;
    background-color: #F9F9F9;
    width: 1px;
    padding-top: 16px;
    padding-bottom: 16px;
}


  @media screen and (max-width: 1023px) {
    .search-form__stroke{
        margin-left: 19px;
        margin-right: 20px;
    }
} 


@media screen and (max-width: 767px) {
    .search-form__stroke{
        display: none;
    }
    .search-form__icon{
        display: none;
    }
    .search-form__container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 20px;
    }
    .search-form__bar{
        width: 100%;
    }
    .search-form__bar{
        margin-bottom: 20px;
    }
    .search-form__button{
        margin-right: 19px;
    }
    .search-form__input{
        padding-left: 19px;
    }
} 